In [2]:
#INTRODUCTION TO PYTHON - DATA TYPES,VARIABLES,STRING,STRING OPERATIONS
"""UNDERSTANDING VARIABLES"""
#Using \n to enter a new line
print("Hello \n Welcome to Python \n Its fun learning with Python")

Hello
 Welcome to Python
 Its fun learning with Python

In [3]:
#Using \t to enter tab
print("Hello \t Welcome")

Hello 	 Welcome

In [6]:
#Understanding a variable
a = input("enter a number:")
print(a)
#variable name cannot start with number'
#variable name cannot contain special characters

enter a number:10
10

In [10]:
"""INTRODUCTION TO DATATYPES"""
name = "yoga"
print(name)
print(type(name))
print(isinstance(name,str))
name = 12
print(name)
print(type(name))
print(isinstance(name,int))

yoga
<class 'str'>
True
12
<class 'int'>
True

In [8]:
"""STRINGS"""
a = "hello"
print(len(a))
print(max(a))
print(min(a))
print(sorted(a))
#each input is stored as an ASCII value in the backend, so Python sorts based on the ASCII code of each character
a = "aZ"
print(len(a))
print(min(a))
print(max(a))
a = "Yoga Sree"
print(a.isupper())
print(a.islower())
print(a.isdigit())
print(a.isalpha())
print(a.isalnum())
print(a.upper())
print(a.lower())
print(a.swapcase())

5
o
e
['e', 'h', 'l', 'l', 'o']
2
Z
a
False
False
False
False
False
YOGA SREE
yoga sree
yOGA sREE

In [23]:
"""INDEXING - FORWARD & REVERSE INDEXING"""
#FORWARD INDEXING
a = "welcome"
print(a[0])
print(a[1])
print(a[0:5])#[start_val:end_val]
print(a[0:5:2])#[start_val:end_val:step_val]
#REVERSE INDEXING
a = "welcome to python!!!"
print(a[-1])
print(a[-5:-1:1])
"""INTERVIEW QUESTION - HOW TO REVERSE A STRING"""
print(a[::-1])
"""HOW TO FIND THE END VALUE OF STRING - to include in the range"""
print(len(a))
print(a[0:21:2])
"""HOW TO FIND INDEX OF A STRING ELEMENT"""
print(a.index("e"))
print(a.index("w",0,10))
print(a.index("!",-1))
print(a.rindex("!",-1))
a = "yogayoga"
print(a.index("a"))#starts counting from a[0]
print(a.rindex("a"))#starts counting from a[-1]

w
e
welco
wlo
!
on!!
!!!nohtyp ot emoclew
20
wloet yhn!
1
0
19
19
3
7

In [12]:
#USING FIND AND RFIND
#FIND
a = "Today is Tuesday"
print(a.find("y"))
print(a.rfind("y"))

4
15

In [21]:
#USING SPLIT
a = "sree2632@gmail.com"
#b = (a.split("@"))
print(b)
#print(b[0])
#USING REPLACE
print(a.replace("sree2632","yoga"))
a = "Good Morning"
print(a.replace("Morning","Evening"))
#INTERVIEW Question
a = "shanmugam@yahoo.com"

['sree2632', 'gmail.com']
yoga@gmail.com
Good Evening

In [22]:
#USING COUNT
a = "abracadabra"
print(a.count("a"))

5

In [28]:
#USING STARTSWITH & ENDSWITH
a = "beware"
print(a.startswith("c"))
print(a.endswith("re"))

False
True

In [29]:
#HOW TO REMOVE SPACES - INTERVIEW QUESTION
a = "Welcome to Python"
print(a.replace(" ",""))

WelcometoPython

In [31]:
#INTEGERS,FLOATS,BINARY,HEXADECIMAL,DECIMAL,OCTAGEN
a = 12
print(type(a))
print(float(a))
print(bin(a))
print(hex(a))
print(oct(a))

<class 'int'>
12.0
0b1100
0xc
0o14

In [2]:
 #Understanding lists - Lists are created to save namespace that is allocated when multiple variables are declared
a = ["Kriya", 6, "Suran", 2]
print(a)
print(a[0])
print(a[-1])
print(len(a))
#print(sorted(a))

['Kriya', 6, 'Suran', 2]
Kriya
2
4

In [4]:
#Add elements to list - Insert,Extend,append commands in list
a = [1,2,3,4]
b = [5,6,7,8]
#a.append(b)
print(a)
a.extend(b)
print(a)
a.insert(2,6)
print(a)

[1, 2, 3, 4]
[1, 2, 3, 4, 5, 6, 7, 8]
[1, 2, 6, 3, 4, 5, 6, 7, 8]

In [24]:
#Removing elements from list - Remove,del,pop commands in list
a = ["Kriya", "Suran", "Aru", "Yoga", "Naga", "Abi", "Nishtha"]
a.remove("Aru")
print(a)
del a[4]
print(a)
a.pop()
print(a)
a.pop()
print(a)

['Kriya', 'Suran', 'Yoga', 'Naga', 'Abi', 'Nishtha']
['Kriya', 'Suran', 'Yoga', 'Naga', 'Nishtha']
['Kriya', 'Suran', 'Yoga', 'Naga']
['Kriya', 'Suran', 'Yoga']

In [13]:
#Understanding tuples
a = (1,2,3,4,5)
#a.append(5)
print(a)
#del a[0]
#tuples are immutable - cannot be appended/deleted
type(a)

(1, 2, 3, 4, 5)

tuple

In [11]:
#Understanding dictionaries
a = {"Name": "Yoga", "Age": 12, "Loc": "Perambur"}
print(type(a))
print(a.items())
print(a.keys())
print(a.values())
print(a["Name"])
a["Name"] = "Suran"
print(a["Name"])
print(a)
a["Work"] = "Siruseri"
print(a)
print(a.get("Work"))
#a.pop("Name")
#print(a)
print(len(a))
print(max(a))
print(min(a))
#a.clear()
#print(a)

<class 'dict'>
dict_items([('Name', 'Yoga'), ('Age', 12), ('Loc', 'Perambur')])
dict_keys(['Name', 'Age', 'Loc'])
dict_values(['Yoga', 12, 'Perambur'])
Yoga
Suran
{'Name': 'Suran', 'Age': 12, 'Loc': 'Perambur'}
{'Name': 'Suran', 'Age': 12, 'Loc': 'Perambur', 'Work': 'Siruseri'}
Siruseri
4
Work
Age
{}

In [57]:
#Understanding sets
a = {1,2,3,4,5,6,7,7,7,8,4,9}#how to remove duplicate values from 
print(a)
a.add(10)
print(a)
a.pop()
print(a)
a.remove(7)
print(a)
a.pop()
print(a)

{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
{2, 3, 4, 5, 6, 7, 8, 9, 10}
{2, 3, 4, 5, 6, 8, 9, 10}
{3, 4, 5, 6, 8, 9, 10}

In [63]:
#SET OPERATIONS
a = {1,2,3,4}
b = {3,4,5,6}
print(a.union(b))
print(a.intersection(b))
print(a.difference(b))

{1, 2, 3, 4, 5, 6}
{3, 4}
{1, 2}

In [65]:
#ARITHMETIC OPERATORS
a = 4
b = 2
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a%b)
print(a//b)

6
2
8
2.0
0
2

In [66]:
#RELATIONAL OPERATORS
a = 2
b = float(a)
print(a==b)
print(a!=b)
print(a<=b)
print(a>=b)

True
False
True
True

In [69]:
#ASSIGNMENT OPERATOR
a = b
print(a)
print(b)

2.0
2.0

In [72]:
#LOGICAL OPERATOR
print(True and True)
print(True and False)
print(True or True)
print(True or False)

True
False
True
True

In [75]:
#CONDITIONALS
#if-else condition
name = 'Kriya'
loc = 'chennai'
if name == 'yoga' and loc == "chennai":
    print("Im Yoga from Chennai")
elif name == 'Kriya' and loc == 'sivakasi':
    print("Im Kriya from Sivakasi")
else:
    print("None")

None

In [3]:
#for and while loops
#while loop
a = 0
while a<=5:
    print("Value of a is", a)
    a+=1

Value of a is 0
Value of a is 1
Value of a is 2
Value of a is 3
Value of a is 4
Value of a is 5

In [12]:
#for loop
a = [1,2,3,4,5,6]
for i in range(0,10):
    print(i+2)

2
3
4
5
6
7
8
9
10
11

In [1]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [3]:
a=[]
for i in range(10):
    a.append(i)
print(a)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [6]:
a = {"one":1, "two":2, "three":3}
for k,v in a.items():
    print(k,v)

one 1
two 2
three 3
three 3

In [8]:
#UNDERSTANDING FUNCTIONS
def total(a,b):
    return(a+b)
c = total(2,3)
print(c)

5

In [11]:
def tot(b,c,d):
    a = ((b*c)/d)
    return(a)
print(tot(3,2,1))

6.0

In [16]:
#Write a funtion to get even numbers between 0 to 20
a=[]
for i in range(21):
    if i%2==0:
        a.append(i)
print(a)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [30]:
def even(q):
    a=[]
    for num in range(q):
        if(num%2==0):
            a.append(num)
    return(a)
even(20)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [3]:
#Positional argument followed by keyword argument
def test(a,b):
    print("Value of a is", a)
    print("Value of b is", b)
test(10,20)
test(99,100)
test(10,b=12)

Value of a is 10
Value of b is 20
Value of a is 99
Value of b is 100
Value of a is 10
Value of b is 12

In [94]:
def name(F_name = None,M_name = None,L_name = None):
    print(F_name,M_name,L_name)
name("Yoga"," ","Sree")

Yoga   Sree

In [95]:
def num(a,b=1,c=1):
    d = a*b
    fin = d/c
    return fin
num(4)

4.0

In [31]:
#Local and global variables
def local():
    wel = "hi"
    print(wel)
local()
#print(wel)

hi

In [34]:
#converting local variable into global variable
def gl():
    global wel
    wel = "hi"
    print(wel)
gl()
print(wel)

hi
hi

In [35]:
#Local and Global variable
wel = "hello"
def log():
    wel="hi"
    print(wel)
log()
print(wel)

hi
hello

In [37]:
#when number of arguments is not known - for positional argument - returns tuples
def test(*args):
    return args
test(1,2,3,4,5)

(1, 2, 3, 4, 5)

In [40]:
#when number of arguments is not known - for keyword argument - returns dictionary
def test(**kwargs):
    print(kwargs)
test(fname = "Yoga",mname = "Sree",lname = "Durga")

{'fname': 'Yoga', 'mname': 'Sree', 'lname': 'Durga'}

In [41]:
var = lambda a, b : a+b
var(3,1)

4

In [1]:
#assert function - to stop a code from executing and voluntarily throw error