In [7]:
print("Hello \n this \t is my first class")
#this is example for comment
print("welcome")
print("hi")
print("saturday")

Hello
 this 	 is my first class
welcome
saturday

In [10]:
#understanding a variable
a = input("enter a number:")
print(a)
#variable name should not start with a number
#variable name should not have a special character except for _

enter a number:1921
1921

In [16]:
#understanding data types
name = "yoga"
print(type(name))
val = 12
print(type(val))
print(isinstance(name,str))
print(isinstance(name,int))

<class 'str'>
<class 'int'>
True
False

In [2]:
#strings
a="hello"
print(a)
print(len(a))
print(min(a))
print(max(a))
print(sorted(a))
#each number is stored as an ASCII code with A-Z having codes from 65 to 90 and a-z has code starting from 97 to 122
a="aZ"
print(min(a))
print(max(a))
a = "Good Day"
print(a.upper())
print(a.lower())
print(a.swapcase())
a = "TEST"
print(a.isupper())
print(a.islower())
a = "test123"
print(a.isdigit())
print(a.isalpha())
print(a.isalnum())

hello
5
e
o
['e', 'h', 'l', 'l', 'o']
Z
a
GOOD DAY
good day
gOOD dAY
True
False
False
False
True

In [4]:
#indexing
#forward indexing
a='welcome'
print(a[0])
print(a[1])
#reverse indexing
print(a[-1])
print(a[-2])
#range of values
a='welcome to python first class'
print(a[0:-1:2])#[start_val:end_val:step_val]
#how to reverse a string
print(a[::-1])#interview question

w
e
e
m
wloet yhnfrtca
ssalc tsrif nohtyp ot emoclew

In [10]:
b = "Miss you"
print(b[0:-1:1])
print(len(b))
print(b[0:8:1])#to include the last valur find the length of string and use in the syntax for range

Miss yo
8
Miss you

In [12]:
#How to find the index
a = "Sundayclass"
print(a.index("a"))
print(a.index("c",2))# syntax(var.index(search_val,start_ind))
print(a.index("y",-7,-1))# syntax(var.index(search_val,start_ind,end_val))
print(len(a))
print(a.rindex("a"))
#print(a.index("e"))-returns error if search_val not found

4
6
5
11
8

In [10]:
#Using find
print(a.find("a"))
print(a.rfind("S"))
print(a.find("e"))#returns -1 if the search_val is not found

4
0
-1

In [16]:
#Using split
a="besant@gmail.com"
print(a.split("@"))
b = (a.split("@"))
print(b[0])

['besant', 'gmail.com']
besant

In [21]:
#using replace
print(a.replace("besant","yoga"))
#using count
print(a.count("a"))
#using startswith and ends with
print(a.startswith("be"))
print(a.endswith("om"))
print(a.endswith("be"))
print(a.startswith("om"))
#removing spaces
a = "Welcome to my class"
print(a.replace(" ",""))

yoga@gmail.com
2
True
True
False
False

In [25]:
#Understanding Integers,Floats,hex,oct,bin
a = 12
print(isinstance(a,int))
print(type(a))
print(oct(a))
print(bin(a))
print(float(a))
print(hex(a))

True
<class 'int'>
0o14
0b1100
12.0
0xc

In [26]:
#Understanding lists - lists are created to save the namespace that we declare for indiv variables
a = ["kriya", 6, "Sivakasi"]
print(type(a))
print(isinstance(a,list))
print(a[0])
print(a[-1])

<class 'list'>
True
kriya
Sivakasi

In [29]:
a = ["kriya", 6, "Sivakasi"]
#print(max(a))- throws error as datatypes of each values are different
a = ["kriya", "6", "Sivakasi"]
print(max(a))
print(min(a))
print(len(a))
print(sorted(a))

kriya
6
3
['6', 'Sivakasi', 'kriya']

In [42]:
#difference between append,insert and extend
y = [1,2,3]
k = [4,5,6]
#y.append(k)
#b= print(y)
#y.insert(k)
#c= print(y)

In [46]:
#Using remove - removes the element based on value
a = [1,2,3,4,5,6]
a.remove(2)
print(a)
#Using del- removes the element based on the index of the value
del a[2]
print(a)
#Using pop - removes the last element from list
a.pop()
print(a)

[1, 3, 4, 5, 6]
[1, 3, 5, 6]
[1, 3, 5]

In [49]:
#Understanding tuples 
a = (1,2,3,4,5)
#tuples are immutable - they cannot be edited - cannot be appended, cannot remove elements
#a.append(10)- throws error
print(type(a))
print(isinstance(a,tuple))

<class 'tuple'>
True