In [5]:
#Understanding dictionaries
b = {"name": "yoga","age": 12,"loc": "chennai"}
print(b.items())
print(b.keys())
print(b.values())
#get(b.items())
#Understanding sets
a = {1,2,3,4,5,6,6,6,6,6,6}
print(a) 
print(type(a))#interview question - how to remove duplicates
a.add(7)
print(a)
a.remove(7)
print(a)
a.pop()
print(a)
a = {10,3,7,8,2}
a.pop()
print(a)

dict_items([('name', 'yoga'), ('age', 12), ('loc', 'chennai')])
dict_keys(['name', 'age', 'loc'])
dict_values(['yoga', 12, 'chennai'])
{1, 2, 3, 4, 5, 6}
<class 'set'>
{1, 2, 3, 4, 5, 6, 7}
{1, 2, 3, 4, 5, 6}
{2, 3, 4, 5, 6}
{3, 7, 8, 10}

In [12]:
a = {1,2,3,4,5}
b = {4,5,6,7}
print(a.union(b))#combines both sets eliminating the duplicates
print(a.intersection(b))#gets the common values btwn two sets
print(a.difference(b))#ignores the common values and gives the unique values of the set

{1, 2, 3, 4, 5, 6, 7}
{4, 5}
{1, 2, 3}

In [21]:
#ARITHMETIC OPERATORS
a = 4
b = 2
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a%b)
print(a//b)

6
2
8
2.0
0
2

In [19]:
#RELATIONAL OPERATOR
print(a==b)
print(a!=b)
print(a>b)
print(a>=b)
print(a<b)
print(a<=b)

False
True
True
True
False
False

In [20]:
#ASSIGNMENT OPERATOR
a = 10
b = 5 
print(a)
print(b)

10
5

In [22]:
#LOGICAL OPERATOR
print(True and True)
print(True and False)
print(not True)
print(not False)

True
False
False
True

In [26]:
#CONDITIONALS
#if_else condition
name = "yoga"
loc = "chennai"
if name == "yoga" and loc == "chennai":
    print("yes")
else:
    print("no")

yes

In [28]:
#elif condition
loc = "madurai"
if name == "yoga" and loc == "chennai":
    print("in chennai")
elif name == "yoga" and loc == "madurai":
    print("in madurai")
else:
    print("no")

in madurai

In [32]:
#for condition
a = [1,2,3,4,5,6]
for i in a:
    print(i)

1
2
3
4
5
6

In [33]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [1]:
#printing an even number using for loop
a = []
for i in range(0,10,2):
        a.append(i)
        #print(a)
print(a)
#another method - using if loop
a = []
for i in range(10):
    if i%2==0:
        a.append(i)
print(a)

[0, 2, 4, 6, 8]
[0, 2, 4, 6, 8]

In [7]:
#while loop
a = 5
while a<5:
    print(a)
    a = a+2

In [8]:
a = {"one":1,"two":2,"three":3}
for k,v in a.items():
    print(k,v)

one 1
two 2
three 3

In [12]:
a = 3
b = 4
print(a+b)

7

In [13]:
a = 4
b = 2
print(a+b)

6

In [14]:
#UNDERSTANDING FUNCTIONS
def total(a,b,c,d):
    return ((a+b)*c)/d
result = total(4,8,2,6)
print(result)

4.0

In [17]:
def tot(a,b,c,d):
    res = a+b
    res1 = res*c
    final_result = res1/d
    return final_result
value = tot(1,2,3,4)
print(value)

2.25

In [30]:
#Assignment : Write a function to get even numbers 
#Postion argument followed by keyword argument

def test(a,b):
    print("value of a is",a)
    print("value of b is",b)
test(10,20)
test(30,40)
test(a,b=20)

value of a is 10
value of b is 20
value of a is 30
value of b is 40
value of a is 4
value of b is 20

In [31]:
#postional arguments - takes the values declared as within the (),keyword arguments - takes the value assigned at the time of argument declared in()
def name(f_name = None,m_name = None,l_name = None):
    print(f_name,m_name,l_name)
name("yoga","","sree")

yoga  sree

In [34]:
def num(a,b=1,c=1):
    d = a*b
    fin = d/c
    return fin
num(4)

4.0

In [39]:
#Local variable - only used within a funtion
def test():
    wel = "hi"
    print(wel)
test()
#print(wel)

hi

In [42]:
#global variable - used throughtout the program
wel = "hello"
def test():
    #wel = "hi"
    print(wel)
test()
#print(wel)

hello

In [44]:
#converting a local variable into global variable
a = "hello"
def test():
    global a
    a = "hi"
    print(a)
test()
print(a)

hi
hi

In [45]:
#when number of arguments is not known - for positional argument - returns tuples
def test(*args):
    print(args)
    return args
test(1,2,3,4,5)

(1, 2, 3, 4, 5)

(1, 2, 3, 4, 5)

In [47]:
#when number of arguments is not known - for keyword argument - returns dictionary
def test(**kwargs):
    fname = kwargs.get("fname")
    print(fname)
    print(kwargs)
test(fname = "Yoga",mname = "Sree",lname = "Durga")

Yoga
{'fname': 'Yoga', 'mname': 'Sree', 'lname': 'Durga'}

In [48]:
var = lambda aa , bb : aa + bb
var(3,1)

4

In [50]:
#use funtions for all three assignments
#assignment1: a = [1,2,3,4] b = [a,b,c,d] o/p = [[a,1],[b,2],[c,3],[d,4]]
#assignment2: ['test','try','test','dummy'] o/p = {'test':2,'try':1,'dummy':1}
#assignment3: Use lambda function to get a number and check if its even or not